- var pageTitle = 'legion dèl diablo'

doctype html
html(lang="en")
  head
    title #{pageTitle}
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="//fonts.googleapis.com/css?family=Lato:400,700|Teko:400,500,700", rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    link(href="stylesheets/ldd.css", rel="stylesheet")
  body
    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.main-navbar.fixed-top#main-navbar
      .container.nav-container
        button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#main-nav", aria-controls="main-nav", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon.ml-auto
        a.navbar-brand(href="#") legion dèl #[span.primary diablo]
        #main-nav.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            each value in ['News', 'Progress', 'Recruitment', 'Forum', 'Roster']
              li.nav-item
                a.nav-link(href="#" + value.toLowerCase()) #{value}
            li.nav-item.cta
              a.nav-link.cta(href="#") Apply

    section.jumbotron-fluid.hero#main-hero
      div#particles
      .container#hero-items
        h1 legion dèl #[span.highlight diablo]
        h4 lightbringer-us
        a.cta(href="#") Apply now

    section.page-module#news
      .container
        h2.title news
        .row
          .card.col-sm-6.col-md-4.col-lg-3.col-xl-3
            img.card-img-top.img-fluid(src="images/gnome.png", alt="New website!")
            .card-block
              h4.card-title New Website Launched
              time.pub-date(datetime="2017-07-05") July 5th, 2017
              p.card-text New website up and ready!
          .card.col-sm-6.col-md-4.col-lg-3.col-xl-3
            img.card-img-top.img-fluid(src="images/gnome.png", alt="New website!")
            .card-block
              h4.card-title New Website Launched
              time.pub-date(datetime="2017-07-05") July 5th, 2017
              p.card-text New website up and ready!

    section.page-module#progress
      .banner
        h2.title progress
      .container
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,

    section.page-module#recruitment
      .container
        h2.title recruitment

        .row
          .col-sm-6.col-md-3.col-lg-4.col-xl-2.recruitment-card.recruitment-death-knight
            .recruitment-specs
              img.recruitment-card-spec(src="images/spec-dk-blood.png")
              img.recruitment-card-spec(src="images/spec-dk-frost.png")
              img.recruitment-card-spec(src="images/spec-dk-unholy.png")
            a(href="#death-knight")
          .col-sm-6.col-md-3.col-lg-4.col-xl-2.recruitment-card.recruitment-demon-hunter
            .recruitment-specs
              img.recruitment-card-spec.lone-spec(src="images/spec-dh-havok.png")
            a(href="#demon-hunter")
          .col-sm-6.col-md-3.col-lg-4.col-xl-2.recruitment-card.recruitment-druid
            .recruitment-specs
              img.recruitment-card-spec.lone-spec(src="images/spec-dr-balance.png")
              img.recruitment-card-spec(src="images/spec-dr-feral.png")
              img.recruitment-card-spec(src="images/spec-dr-guardian.png")
              img.recruitment-card-spec(src="images/spec-dr-restoration.png")
            a(href="#druid")
          .col-sm-6.col-md-3.col-lg-4.col-xl-2.recruitment-card.recruitment-hunter
            .recruitment-specs
              img.recruitment-card-spec(src="images/spec-hn-beast-mastery.png")
              img.recruitment-card-spec(src="images/spec-hn-marksman.png")
              img.recruitment-card-spec(src="images/spec-hn-survival.png")
            a(href="#hunter")
          .col-sm-6.col-md-3.col-lg-4.col-xl-2.recruitment-card.recruitment-mage
            .recruitment-specs
              img.recruitment-card-spec(src="images/spec-mg-arcane.png")
              img.recruitment-card-spec(src="images/spec-mg-fire.png")
              img.recruitment-card-spec(src="images/spec-mg-frost.png")
            a(href="#mage")
          .col-sm-6.col-md-3.col-lg-4.col-xl-2.recruitment-card.recruitment-monk
            .recruitment-specs
              img.recruitment-card-spec(src="images/spec-mk-brewmaster.png")
              img.recruitment-card-spec(src="images/spec-mk-mistweaver.png")
              img.recruitment-card-spec(src="images/spec-mk-windwalker.png")
            a(href="#monk")
          .col-sm-6.col-md-3.col-lg-4.col-xl-2.recruitment-card.recruitment-paladin
            .recruitment-specs
              img.recruitment-card-spec(src="images/spec-pd-holy.png")
              img.recruitment-card-spec(src="images/spec-pd-protection.png")
              img.recruitment-card-spec(src="images/spec-pd-retribution.png")
            a(href="#paladin")
          .col-sm-6.col-md-3.col-lg-4.col-xl-2.recruitment-card.recruitment-priest
            .recruitment-specs
              img.recruitment-card-spec(src="images/spec-pr-disc.png")
              img.recruitment-card-spec(src="images/spec-pr-holy.png")
              img.recruitment-card-spec(src="images/spec-pr-shadow.png")
            a(href="#priest")
          .col-sm-6.col-md-3.col-lg-4.col-xl-2.recruitment-card.recruitment-rogue
            .recruitment-specs
              img.recruitment-card-spec(src="images/spec-rg-assassination.png")
              img.recruitment-card-spec(src="images/spec-rg-outlaw.png")
              img.recruitment-card-spec(src="images/spec-rg-sub.png")
            a(href="#rogue")
          .col-sm-6.col-md-3.col-lg-4.col-xl-2.recruitment-card.recruitment-shaman
            .recruitment-specs
              img.recruitment-card-spec.recruitment-card-spec-disabled(src="images/spec-sh-elemental.png")
              img.recruitment-card-spec(src="images/spec-sh-enhancement.png")
              img.recruitment-card-spec(src="images/spec-sh-restoration.png")
            a(href="#shaman")
          .col-sm-6.col-md-3.col-lg-4.col-xl-2.recruitment-card.recruitment-warlock
            .recruitment-specs
              img.recruitment-card-spec(src="images/spec-wk-affliction.png")
              img.recruitment-card-spec(src="images/spec-wk-demonology.png")
              img.recruitment-card-spec(src="images/spec-wk-destruction.png")
            a(href="#warlock")
          .col-sm-6.col-md-3.col-lg-4.col-xl-2.recruitment-card.recruitment-warrior
            .recruitment-specs
              img.recruitment-card-spec(src="images/spec-wr-arms.png")
              img.recruitment-card-spec(src="images/spec-wr-fury.png")
              img.recruitment-card-spec(src="images/spec-wr-protection.png")
            a(href="#warrior")

    footer
      .container
        .row
          .col-xs-6.col-md-5
            p
              |site by #[a(href="#") nick fuller]
          .col-xs-6.col-md-5.offset-md-2
            p.right
              |&copy; copyright 2017 #[a(href="/") legion dèl diablo]

    // script(src="//code.jquery.com/jquery-3.1.1.slim.min.js", integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n", crossorigin="anonymous")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js", integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb", crossorigin="anonymous")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js", integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn", crossorigin="anonymous")
    script(src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
    script(src="javascripts/ldd-min.js")
